aside {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    padding: 5rem 3rem;
    height: 100%;
    width: 300px;
    background-color: white;
    opacity: 0;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow-y: scroll;
    box-shadow: -2px 0px 50px 5px rgba(0, 0, 0, 0.2);
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

aside ul li {
    font-size: 14px;
    border-radius: 4px;
    padding: 0.5rem 0rem;
    cursor: pointer;
}

aside ul li,
.hide-menu svg {
    transition: background-color 0.2s ease-in-out;
}

aside ul li:hover,
.hide-menu svg:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.hide-menu {
    width: fit-content;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.hide-menu svg {
    cursor: pointer;
    border-radius: 2px;
}

@media (min-width: 750px) {
    .toggle-display {
        display: none;
    }
}
